In [1]:
import pandas as pd
import seaborn as sns
import numpy as np 
url = 'https://raw.githubusercontent.com/yveness7/IronHackIvet/main/mm/actic_mammals.csv'
df = pd.read_csv(url)
df

,Date,Latitude,Longitude,Location,Species,Adult M,Adult F,Adult,Subadult,Polar bear condition,Polar bear den,Cub/calf/pup,Bear cubs,Dead/alive,Unidentified,Total,Habitat,Occurrence remark
0,2000-07-29,78.55,25.416667,,balaena mysticetus,,,,,,,,,,,1,water,V. Large individual possibly a F
1,2000-08-08,79.1166666666667,21.441667,,balaena mysticetus,,,,,,,,,,,1,water,
2,2000-08-16,78.917,24.050000,,balaena mysticetus,,,,,,,,,,,1,water,
3,2001-08-08,79.268,20.858000,,balaena mysticetus,,,,,,,,,,,1,water,
4,2005-08-06,78.932,11.922000,Nye Ålesund,balaena mysticetus,,,,,,,,,,,1,water,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17370,2006-07-25,80.703,20.883000,Phippsøya,ursus maritimus,,,,,,,,,,,19,land,Feeding on whale carcass
17371,2010-09-21,80.1107,28.079700,Storøya,ursus maritimus,,5,,,,,7,,,,20,unknown,"Two females with yearlings, two females with ..."
17372,2012-07-11,79.01,20.500000,Hochstetterbreen,ursus maritimus,,2,,,,,3,,,,22,ice,
17373,2015-08-28,78.9354,28.635900,Kongsøya,ursus maritimus,0,5,18,7,0,,0,0,,0,30,land,Hele øya
17374,2004-09-01,79.869,27.179000,Italianeset,ursus maritimus,,,31,,,,1,,,,32,land,spread around island

In [2]:
df.columns

Index([' Date ', ' Latitude ', ' Longitude ', ' Location ', ' Species ',
       ' Adult M ', ' Adult F ', ' Adult ', ' Subadult ',
       ' Polar bear condition ', ' Polar bear den ', ' Cub/calf/pup ',
       ' Bear cubs ', ' Dead/alive ', ' Unidentified ', ' Total ', ' Habitat ',
       ' Occurrence remark '],
      dtype='object')

In [3]:
#get spaces out of the column names 
df.rename(columns=lambda x: x.strip(), inplace=True)
df.columns

Index(['Date', 'Latitude', 'Longitude', 'Location', 'Species', 'Adult M',
       'Adult F', 'Adult', 'Subadult', 'Polar bear condition',
       'Polar bear den', 'Cub/calf/pup', 'Bear cubs', 'Dead/alive',
       'Unidentified', 'Total', 'Habitat', 'Occurrence remark'],
      dtype='object')

In [4]:
#names to lower case 
df.rename(columns=lambda x: x.lower(), inplace=True)
df.columns

Index(['date', 'latitude', 'longitude', 'location', 'species', 'adult m',
       'adult f', 'adult', 'subadult', 'polar bear condition',
       'polar bear den', 'cub/calf/pup', 'bear cubs', 'dead/alive',
       'unidentified', 'total', 'habitat', 'occurrence remark'],
      dtype='object')

In [6]:
df.species.unique()

array([' balaena mysticetus ', ' balaenoptera acutorostrata ',
       ' balaenoptera borealis ', ' balaenoptera musculus ',
       ' balaenoptera physalus ', ' cystophora cristata ',
       ' delphinapterus leucas ', ' erignathus barbatus ',
       ' globicephala melas ', ' hyperoodon ampullatus ',
       ' lagenorhynchus albirostris ', ' megaptera novaeangliae ',
       ' monodon monoceros ', ' odobenus rosmarus ', ' orcinus orca ',
       ' phoca groenlandica ', ' phoca vitulina ',
       ' physeter macrocephalus ', ' pusa hispida ', ' ursus maritimus '],
      dtype=object)

In [7]:
#need to remove the spaces 
df['species'] = df['species'].str.strip()
df.species.unique()

array(['balaena mysticetus', 'balaenoptera acutorostrata',
       'balaenoptera borealis', 'balaenoptera musculus',
       'balaenoptera physalus', 'cystophora cristata',
       'delphinapterus leucas', 'erignathus barbatus',
       'globicephala melas', 'hyperoodon ampullatus',
       'lagenorhynchus albirostris', 'megaptera novaeangliae',
       'monodon monoceros', 'odobenus rosmarus', 'orcinus orca',
       'phoca groenlandica', 'phoca vitulina', 'physeter macrocephalus',
       'pusa hispida', 'ursus maritimus'], dtype=object)

In [8]:
df.species.nunique()

20

In [9]:
df['species'].value_counts() #how many we got from each species

ursus maritimus               3558
odobenus rosmarus             2497
balaenoptera acutorostrata    2233
balaenoptera physalus         1632
erignathus barbatus           1386
megaptera novaeangliae        1088
phoca groenlandica            1073
lagenorhynchus albirostris    1014
pusa hispida                   885
phoca vitulina                 437
cystophora cristata            407
delphinapterus leucas          386
balaenoptera musculus          332
physeter macrocephalus         160
balaena mysticetus              85
orcinus orca                    66
hyperoodon ampullatus           49
monodon monoceros               40
balaenoptera borealis           35
globicephala melas              12
Name: species, dtype: int64

In [10]:
#rename the species to common names 

df['species'] = df['species'].replace({'ursus maritimus': 'polar bear',
                                       'odobenus rosmarus':'walrus',
                                      'balaenoptera acutorostrata': 'common minkie whale',
                                       'balaenoptera physalus':'fin whale',
                                       'erignathus barbatus':'bearded seal',
                                       'megaptera novaeangliae':'humpback whale',
                                       'phoca groenlandica':'harp seal',
                                       'lagenorhynchus albirostris':'white beaked dolphin',
                                       'pusa hispida':'ringed seal',
                                       'phoca vitulina':'harbor seal',
                                       'cystophora cristata':'hooded seal',
                                       'delphinapterus leucas':'beluga whale',
                                       'balaenoptera musculus':'blue whale',
                                       'physeter macrocephalus':'sperm whale',
                                       'balaena mysticetus':'bowhead whale',
                                       'orcinus orca':'orca',
                                        'hyperoodon ampullatus':'northern bottlenose whale',
                                       'monodon monoceros':'narwhal',
                                       'balaenoptera borealis':'sei whale',
                                       'globicephala melas':'long-finned pilot whale' })

In [11]:
df.species.unique()

array(['bowhead whale', 'common minkie whale', 'sei whale', 'blue whale',
       'fin whale', 'hooded seal', 'beluga whale', 'bearded seal',
       'long-finned pilot whale', 'northern bottlenose whale',
       'white beaked dolphin', 'humpback whale', 'narwhal', 'walrus',
       'orca', 'harp seal', 'harbor seal', 'sperm whale', 'ringed seal',
       'polar bear'], dtype=object)

In [12]:
df['species'].value_counts()

polar bear                   3558
walrus                       2497
common minkie whale          2233
fin whale                    1632
bearded seal                 1386
humpback whale               1088
harp seal                    1073
white beaked dolphin         1014
ringed seal                   885
harbor seal                   437
hooded seal                   407
beluga whale                  386
blue whale                    332
sperm whale                   160
bowhead whale                  85
orca                           66
northern bottlenose whale      49
narwhal                        40
sei whale                      35
long-finned pilot whale        12
Name: species, dtype: int64

In [ ]:
df.location.unique() #need to replace empty values

In [ ]:
df['location'] = df['location'].str.strip()
df.location.unique()

In [ ]:
df.location.nunique() #2608 unique locations

In [ ]:
df.date.nunique()

In [ ]:
df.habitat.nunique()

In [ ]:
#df.habitat.unique()
df['habitat'] = df['habitat'].str.strip()
df['habitat'] = df['habitat'].str.lower()
df.habitat.unique()

In [ ]:
df

URLError: <urlopen error [Errno 2] No such file or directory: '/yv/Desktop/new_arctic_mammals.csv'>