# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
# Your code here
import pandas as pd 
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
insurance_df = pd.read_csv(url)
insurance_df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
insurance_df.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [14]:
len(insurance_df.columns)

11

In [12]:
len(insurance_df.index)

4008

Identify the dimensions of the dataset by determining the number of rows and columns it contains.

In [30]:
insurance_df.shape

(4008, 11)

Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.

In [29]:
insurance_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [31]:
"""Customer Lifetime Value should be float
Number of Open Complaints should be int"""

'Customer Lifetime Value should be float\nNumber of Open Complaints should be int'

Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.

In [33]:
insurance_df.nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [44]:
insurance_df.describe(include="float")

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

In [45]:
insurance_df.describe(include="object")

,Customer,ST,GENDER,Education,Customer Lifetime Value,Number of Open Complaints,Policy Type,Vehicle Class
count,1071,1071,954,1071,1068,1071,1071,1071
unique,1071,8,5,6,1027,6,3,6
top,RB50392,Oregon,F,Bachelor,445811.34%,1/0/00,Personal Auto,Four-Door Car
freq,1,320,457,324,4,830,780,576

In [6]:
insurance_df.select_dtypes(include='object').head(50)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Number of Open Complaints,Policy Type,Vehicle Class
0,RB50392,Washington,NaN,Master,NaN,1/0/00,Personal Auto,Four-Door Car
1,QZ44356,Arizona,F,Bachelor,697953.59%,1/0/00,Personal Auto,Four-Door Car
2,AI49188,Nevada,F,Bachelor,1288743.17%,1/0/00,Personal Auto,Two-Door Car
3,WW63253,California,M,Bachelor,764586.18%,1/0/00,Corporate Auto,SUV
4,GA49547,Washington,M,High School or Below,536307.65%,1/0/00,Personal Auto,Four-Door Car
5,OC83172,Oregon,F,Bachelor,825629.78%,1/0/00,Personal Auto,Two-Door Car
6,XZ87318,Oregon,F,College,538089.86%,1/0/00,Corporate Auto,Four-Door Car
7,CF85061,Arizona,M,Master,721610.03%,1/0/00,Corporate Auto,Four-Door Car
8,DY87989,Oregon,M,Bachelor,2412750.40%,1/0/00,Corporate Auto,Four-Door Car
9,BQ94931,Oregon,F,College,738817.81%,1/0/00,Special Auto,Four-Door Car
10,SX51350,California,M,College,473899.20%,1/0/00,Personal Auto,Four-Door Car
11,VQ65197,California,NaN,College,819719.71%,1/0/00,Personal Auto,SUV
12,DP39365,California,NaN,Master,879879.70%,1/2/00,Corporate Auto,Four-Door Car
13,SJ95423,Arizona,NaN,High School or Below,881901.89%,1/1/00,Corporate Auto,SUV
14,IL66569,California,NaN,College,538443.17%,1/2/00,Corporate Auto,Four-Door Car
15,BW63560,Oregon,NaN,Bachelor,746313.94%,1/1/00,Corporate Auto,Four-Door Car
16,FV94802,Nevada,NaN,High School or Below,256686.78%,1/0/00,Personal Auto,Two-Door Car
17,OE15005,Cali,NaN,College,394524.16%,1/0/00,Personal Auto,SUV
18,WC83389,Oregon,NaN,College,571033.31%,1/0/00,Personal Auto,Four-Door Car
19,FL50705,California,NaN,High School or Below,816261.71%,1/0/00,Corporate Auto,Four-Door Car
20,ZK25313,Oregon,NaN,High School or Below,287205.13%,1/0/00,Personal Auto,Two-Door Car
21,QK46697,Washington,M,Bachelors,617710.93%,1/1/00,Personal Auto,Two-Door Car
22,YH23384,Arizona,NaN,Bachelor,2412750.40%,1/0/00,Personal Auto,Four-Door Car
23,TZ98966,Nevada,NaN,Bachelor,245019.10%,1/3/00,Corporate Auto,Four-Door Car
24,HM55802,California,NaN,Bachelor,239210.79%,1/0/00,Corporate Auto,Four-Door Car
25,FS42516,Oregon,NaN,College,580206.60%,1/0/00,Personal Auto,Four-Door Car
26,US89481,California,NaN,Bachelor,394637.21%,1/0/00,Personal Auto,Four-Door Car
27,HS14476,Washington,M,College,916206.32%,1/0/00,Personal Auto,Four-Door Car
28,GE62437,AZ,NaN,College,1290256.01%,1/2/00,Personal Auto,Four-Door Car
29,EJ77678,Oregon,NaN,Master,323536.05%,1/1/00,Personal Auto,Four-Door Car
30,SV85652,Arizona,NaN,College,245458.35%,1/1/00,Personal Auto,Four-Door Car
31,UL64533,Nevada,NaN,High School or Below,1897545.61%,1/0/00,Corporate Auto,Luxury SUV
32,PF41800,California,NaN,Bachelor,471532.13%,1/0/00,Personal Auto,Four-Door Car
33,HD95276,Washington,F,College,473787.17%,1/0/00,Personal Auto,SUV
34,SK67821,Oregon,NaN,Bachelor,493291.63%,1/0/00,Corporate Auto,Four-Door Car
35,YV55495,Arizona,NaN,High School or Below,574422.97%,1/0/00,Personal Auto,Four-Door Car
36,KY38074,California,NaN,Bachelor,1389173.57%,1/0/00,Personal Auto,Four-Door Car
37,DM79012,Oregon,NaN,Master,738097.67%,1/0/00,Personal Auto,Four-Door Car
38,CM61827,Oregon,NaN,Bachelor,309003.41%,1/0/00,Personal Auto,Two-Door Car
39,WC35801,Arizona,NaN,High School or Below,252163.31%,1/2/00,Personal Auto,Four-Door Car
40,QG25316,Nevada,NaN,High School or Below,265206.18%,1/1/00,Corporate Auto,Two-Door Car
41,MB98372,Oregon,NaN,College,277104.50%,1/0/00,Corporate Auto,Two-Door Car
42,IL19217,California,NaN,Bachelor,393900.64%,1/0/00,Personal Auto,Four-Door Car
43,SR38658,Arizona,NaN,High School or Below,1223187.97%,1/0/00,Personal Auto,Sports Car
44,YD87931,Washington,M,Doctor,495165.61%,1/1/00,Personal Auto,Four-Door Car
45,HG65722,Oregon,NaN,Doctor,1281910.29%,1/3/00,Personal Auto,SUV
46,BU27331,Arizona,NaN,Bachelor,446851.05%,1/3/00,Personal Auto,Four-Door Car
47,XM45289,Oregon,NaN,High School or Below,551434.40%,1/0/00,Personal Auto,Two-Door Car
48,KP34198,California,NaN,Bachelor,334387.53%,1/0/00,Corporate Auto,Four-Door Car
49,SH90947,Arizona,NaN,High School or Below,229447.89%,1/0/00,Personal Auto,Four-Door Car

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [8]:
#my code

location_series = pd.read_csv(url, usecols=["ST"])
location_series

              ST
0     Washington
1        Arizona
2         Nevada
3     California
4     Washington
...          ...
4003         NaN
4004         NaN
4005         NaN
4006         NaN
4007         NaN

[4008 rows x 1 columns]

In [9]:
location_series.value_counts(ascending=True).head(5)

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [68]:
# Your code here

In [2]:
policy_series = pd.read_csv(url, usecols=["Policy Type"])
policy_series.value_counts()

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
dtype: int64

In [ ]:
policies_max = [policies.idxmax(),policies.max()]

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [3]:
# Your code here
insurance_df.[["Policy Type", "Income"]]

         Policy Type   Income
0      Personal Auto      0.0
1      Personal Auto      0.0
2      Personal Auto  48767.0
3     Corporate Auto      0.0
4      Personal Auto  36357.0
...              ...      ...
4003             NaN      NaN
4004             NaN      NaN
4005             NaN      NaN
4006             NaN      NaN
4007             NaN      NaN

[4008 rows x 2 columns]

In [28]:
corporate_auto_df = insurance_df.loc[insurance_df['Policy Type'] == 'Personal Auto'].mean()
print(corporate_auto_df)

Income                  38180.698718
Monthly Premium Auto      185.701282
Total Claim Amount        404.820615
dtype: float64

/tmp/ipykernel_10718/3576275777.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  corporate_auto_df = insurance_df.loc[insurance_df['Policy Type'] == 'Personal Auto'].mean()

In [26]:
round(mean(corporate_auto_df))

NameError: name 'mean' is not defined

In [14]:
personal_auto_df = insurance_df.loc[insurance_df['Policy Type'] == 'Personal Auto'].mean()
personal_auto_df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
1065,XD85577,Cali,M,Bachelor,284226.69%,69417.0,73.0,1/1/00,Personal Auto,Four-Door Car,30.874869
1066,TM65736,Oregon,M,Master,305955.03%,38644.0,78.0,1/1/00,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,Cali,F,High School or Below,2031499.76%,63209.0,102.0,1/2/00,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,323912.47%,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1070,MY31220,California,F,College,899704.02%,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [30]:

personal_auto_df = insurance_df.loc[insurance_df['Policy Type'] == 'Personal Auto']


corporate_auto_df = insurance_df.loc[insurance_df['Policy Type'] == 'Corporate Auto']


average_income_personal_auto = personal_auto_df['Income'].mean()


average_income_corporate_auto = corporate_auto_df['Income'].mean()


print("Average income for Personal Auto policies: {:.2f}".format(average_income_personal_auto))
print("Average income for Corporate Auto policies: {:.2f}".format(average_income_corporate_auto))

Average income for Personal Auto policies: 38180.70
Average income for Corporate Auto policies: 41390.31

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [17]:
# Your code here
mask = insurance_df['Total Claim Amount'].quantile(q=0.75)

In [18]:
mask

532.8

In [20]:
top = insurance_df[insurance_df['Total Claim Amount'] > mask]

In [22]:
insurance_df['Total Claim Amount'] > mask

0       False
1        True
2        True
3       False
4       False
        ...
4003    False
4004    False
4005    False
4006    False
4007    False
Name: Total Claim Amount, Length: 4008, dtype: bool

In [23]:
top.describe()

             Income  Monthly Premium Auto  Total Claim Amount
count    264.000000            264.000000          264.000000
mean   23677.344697            165.193182          782.228263
std    27013.483721            623.930992          292.751640
min        0.000000             63.000000          537.600000
25%        0.000000             99.000000          606.521741
50%    18807.000000            114.000000          679.597985
75%    42423.750000            133.250000          851.400000
max    99316.000000          10202.000000         2893.239678

In [40]:
import pandas as pd

data = {
  "name": ["Sally", "Mary", "John"],
  "age": [50, 40, 30],
  "qualified": [True, False, False]
}

df = pd.DataFrame(data)

newdf = df.drop("age", axis='columns')

print(df)

    name  age  qualified
0  Sally   50       True
1   Mary   40      False
2   John   30      False

In [41]:
print(newdf)

    name  qualified
0  Sally       True
1   Mary      False
2   John      False

In [42]:
df

    name  age  qualified
0  Sally   50       True
1   Mary   40      False
2   John   30      False

In [43]:
df.drop("age", axis='columns',inplace=True)
df

    name  qualified
0  Sally       True
1   Mary      False
2   John      False