In [25]:
import pandas as pd
import seaborn as sns
import numpy as np 
url = 'https://raw.githubusercontent.com/yveness7/IronHackIvet/main/mm/actic_mammals.csv'
df = pd.read_csv(url)
df

,Date,Latitude,Longitude,Location,Species,Adult M,Adult F,Adult,Subadult,Polar bear condition,Polar bear den,Cub/calf/pup,Bear cubs,Dead/alive,Unidentified,Total,Habitat,Occurrence remark
0,2000-07-29,78.55,25.416667,,balaena mysticetus,,,,,,,,,,,1,water,V. Large individual possibly a F
1,2000-08-08,79.1166666666667,21.441667,,balaena mysticetus,,,,,,,,,,,1,water,
2,2000-08-16,78.917,24.050000,,balaena mysticetus,,,,,,,,,,,1,water,
3,2001-08-08,79.268,20.858000,,balaena mysticetus,,,,,,,,,,,1,water,
4,2005-08-06,78.932,11.922000,Nye Ålesund,balaena mysticetus,,,,,,,,,,,1,water,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17370,2006-07-25,80.703,20.883000,Phippsøya,ursus maritimus,,,,,,,,,,,19,land,Feeding on whale carcass
17371,2010-09-21,80.1107,28.079700,Storøya,ursus maritimus,,5,,,,,7,,,,20,unknown,"Two females with yearlings, two females with ..."
17372,2012-07-11,79.01,20.500000,Hochstetterbreen,ursus maritimus,,2,,,,,3,,,,22,ice,
17373,2015-08-28,78.9354,28.635900,Kongsøya,ursus maritimus,0,5,18,7,0,,0,0,,0,30,land,Hele øya
17374,2004-09-01,79.869,27.179000,Italianeset,ursus maritimus,,,31,,,,1,,,,32,land,spread around island

In [26]:
df.columns

Index([' Date ', ' Latitude ', ' Longitude ', ' Location ', ' Species ',
       ' Adult M ', ' Adult F ', ' Adult ', ' Subadult ',
       ' Polar bear condition ', ' Polar bear den ', ' Cub/calf/pup ',
       ' Bear cubs ', ' Dead/alive ', ' Unidentified ', ' Total ', ' Habitat ',
       ' Occurrence remark '],
      dtype='object')

In [27]:
#get spaces out of the column names 
df.rename(columns=lambda x: x.strip(), inplace=True)
df.columns

Index(['Date', 'Latitude', 'Longitude', 'Location', 'Species', 'Adult M',
       'Adult F', 'Adult', 'Subadult', 'Polar bear condition',
       'Polar bear den', 'Cub/calf/pup', 'Bear cubs', 'Dead/alive',
       'Unidentified', 'Total', 'Habitat', 'Occurrence remark'],
      dtype='object')

In [35]:
#names to lower case 
df.rename(columns=lambda x: x.lower(), inplace=True)
df.columns

Index(['date', 'latitude', 'longitude', 'location', 'species', 'adult m',
       'adult f', 'adult', 'subadult', 'polar bear condition',
       'polar bear den', 'cub/calf/pup', 'bear cubs', 'dead/alive',
       'unidentified', 'total', 'habitat', 'occurrence remark'],
      dtype='object')

In [28]:
df.Species.unique()

array([' balaena mysticetus ', ' balaenoptera acutorostrata ',
       ' balaenoptera borealis ', ' balaenoptera musculus ',
       ' balaenoptera physalus ', ' cystophora cristata ',
       ' delphinapterus leucas ', ' erignathus barbatus ',
       ' globicephala melas ', ' hyperoodon ampullatus ',
       ' lagenorhynchus albirostris ', ' megaptera novaeangliae ',
       ' monodon monoceros ', ' odobenus rosmarus ', ' orcinus orca ',
       ' phoca groenlandica ', ' phoca vitulina ',
       ' physeter macrocephalus ', ' pusa hispida ', ' ursus maritimus '],
      dtype=object)

In [41]:
#need to remove the spaces 
df['species'] = df['species'].str.strip()
df.species.unique()

array(['balaena mysticetus', 'balaenoptera acutorostrata',
       'balaenoptera borealis', 'balaenoptera musculus',
       'balaenoptera physalus', 'cystophora cristata',
       'delphinapterus leucas', 'erignathus barbatus',
       'globicephala melas', 'hyperoodon ampullatus',
       'lagenorhynchus albirostris', 'megaptera novaeangliae',
       'monodon monoceros', 'odobenus rosmarus', 'orcinus orca',
       'phoca groenlandica', 'phoca vitulina', 'physeter macrocephalus',
       'pusa hispida', 'ursus maritimus'], dtype=object)

In [29]:
df.Species.nunique()

20

In [30]:
df.Location.unique() #need to replace empty values

array([' ', ' Nye Ålesund ', ' Fram Strait ', ..., ' Freemandsundut ',
       ' Kapp Hammerfest ', ' Italianeset '], dtype=object)

In [31]:
df.Location.nunique()

2670

In [32]:
df.Date.nunique()

2120

In [33]:
df.Habitat.nunique()

21

In [34]:
df.Habitat.unique()

array([' water ', ' unknown ', ' ', ' ice ', ' land ', ' Ocean ',
       ' at sea ', ' at sea, ice edge ', 'ice', ' Glacier ice ',
       ' In Hornsund ', ' swimming ', ' on land ', ' Land, Water ',
       ' Swimming & on ice ', ' Beach ', ' Shore and water ',
       ' 19.00 Martin ', ' Fast ice ', ' Pack ice ', ' Land '],
      dtype=object)