Create a function that returns the sum of the two lowest positive numbers given an array of minimum 2 integers. No floats or empty arrays will be passed.

Documentation
sum_two_smallest_numbers(numbers)
Parameters:
numbers: Array<int>

An array of positive integers.
Guaranteed Constraints:

    The input will never be null or undefined.
    All numbers are valid Int32, no need to validate them.
    All numbers will be positive (non-zero) values.
    There will always be at least two numbers in the input string.

Returns: int

The sum of the two lowest numbers in the string.

Examples
Input 	Output
[19, 5, 42, 2, 77] 	7
[5, 8, 8, 8, 8] 	13

In [38]:
list = [5, 8, 8, 8, 8] 	

def sum_two_smallest_numbers():

    sorted_numbers = sorted(list)
    return sorted_numbers[0] + sorted_numbers[1]

    
sum_two_smallest_numbers()

13

Locate the outlier in an array containing a single element with a different parity than the rest.

For this challenge you will be asked to write code. Please make sure to craft a quality solution.

Task

You are given an array (which will have a length of at least 3, but could be very large) containing integers. The array is either entirely comprised of odd integers or entirely comprised of even integers except for a single integer N. Write a method that takes the array as an argument and returns this "outlier" N.
Specification
find_outlier(integers)

Parameters

    integers: Array (of Integers)
Return Value

    Integer - The only odd or even number

Examples
	integers 	Return Value
Only odd number 	 	[11,552,64,28,76]
Only even number 	[160,3719,19,13,-21]

Filter is a function that takes a function and a list, and returns a new list containing only the elements of the original list for which the function returns True. It's a useful way to selectively extract elements from a list based on a certain condition.

In [53]:
list = [11,552,64,28,76]

def find_outlier(list):
   
    even_numbers = [i for i in list if i % 2 == 0]
    odd_numbers = [i for i in list if i % 2 != 0]
    if len(even_numbers) == 1:
        return even_numbers[0]
    else:
        return odd_numbers[0]

find_outlier(list)

11

Task

Complete the function in your editor.

Your function must merge strings a and b, and then return a single merged string. A merge operation on two strings is described as follows:

    Append alternating characters from a and b, respectively, to some new string, mergedString.
    Once all of the characters in one of the strings have been merged, append the remaining characters in the other string to mergedString.

Specification
merge_strings(a, b)

Parameters

    a: String

    b: String
Return Value

    String - The mergedString
Constraints

    1 ≤ |a length|, |b length| ≤ 25000

Examples
a 	b 	Return Value
"abc" 	"def" 	"adbecf"
"ab" 	"def" 	"adbef"
"abc" 	"de" 	"adbec"

In [ ]:
a = "abc", "dfgfd", "dfdfdf""
b = "def", "kdfjd", 'skdjjd"

for i in c and u in b

In [64]:
a = "abc dgfsdds sdfsddf"
b = "def kjhkj jhjkhj"
new_a = a.strip()
list_a = new_a.split()
new_b = b.strip()
list_b = new_b.split()
mergedString = ''
mergedString += .join(list_a[i] + list_b[i]) for i in range(len(list_a),(len(list_b))))

# Once all of the characters in one of the strings have been merged, append the remaining characters in the other string to mergedString.
mergedString += a[len(b):] + b[len(a):]

print(new_a)
print(new_b)
print(list_a)
print(list_b)
def merge_strings(a,b):
    new_a = a.split()
    
    return ""

abc dgfsdds sdfsddf
def kjhkj jhjkhj
['abc', 'dgfsdds', 'sdfsddf']
['def', 'kjhkj', 'jhjkhj']

In [65]:
def merge_strings(a, b):
    mergedString = ''  # Initialize mergedString as an empty string
    mergedString += ''.join([a[i] + b[i] for i in range(min(len(a), len(b)))])
    mergedString += a[len(b):] + b[len(a):]
    return mergedString

# Example usage
a = "hello"
b = "world"
result = merge_strings(a, b)
print(result)

hweolrllod

In [71]:
a = "abc dgfsdds sdfsddf"
b = "def kjhkj jhjkhj"
#new_a = a.strip()
#list_a = new_a.split()
#new_b = b.strip()
#list_b = new_b.split()
mergedString = ''
mergedString += ''.join([a[i] + b[i] for i in range(min(len(a),(len(b))))])
mergedString += a[len(b):] + b[len(a):]
    #return mergedString
# Once all of the characters in one of the strings have been merged, append the remaining characters in the other string to mergedString.
print(mergedString)

adbecf  dkgjfhskdjd sj hsjdkfhsjddf

In [72]:
def merge_strings(a: str, b: str) -> str:
    mergedString = ''.join([a[i] + b[i] for i in range(min(len(a), len(b)))])
    mergedString += a[len(b):] + b[len(a):]
    return mergedString

# Example usage
a = "hello"
b = "world"
result = merge_strings(a, b)
print(result)  # Output: "hweolrllod"

hweolrllod

Task

In this little assignment you are given a string of space separated numbers, and have to return the highest and lowest number.
Examples
Input 	Output
"1 2 3 4 5" 	"5 1"
"1 2 -3 4 5" 	"5 -3"
"1 9 3 4 -5" 	"9 -5"
Documentation
highAndLow(numbers)
Parameters:
numbers: String

A string of numbers separated by spaces.
Guaranteed Constraints:

    All numbers are valid Int32, no need to validate them.
    It will never be null or undefined.
    There will always be at least one number in the input string.

Returns: String

Two numbers separated by a single space, and highest number must be first.

In [89]:
  


a = "1 2 3 4 5 6 -9 7 8 5 3 6 6 4 4 10 9 6 5 4"
def high_and_low(a):
    a_split = a.split()
    max_a_split = max(a_split)
    min_a_split = min(a_split)
    return max_a_split + " " + min_a_split


print(a_split)
print(max_a_split)
print(min_a_split)
high_and_low(a)

['1', '2', '3', '4', '5', '6', '-9', '7', '8', '5', '3', '6', '6', '4', '4', '10', '9', '6', '5', '4']
9
-9

'9 -9'

In [90]:
def high_and_low(numbers):
    num_list = list(map(int, numbers.split()))  # Split and convert to integers
    max_num = str(max(num_list))  # Find maximum and convert back to string
    min_num = str(min(num_list))  # Find minimum and convert back to string

    return max_num + " " + min_num  # Return as a space-separated string

# Example usage
numbers = "4 5 29 54 4 0 -214 542 -64 1 -3 6 -6"
result = high_and_low(numbers)
print(result)  # Output: "542 -214"

TypeError: 'list' object is not callable

In [2]:
numbers = "4 5 29 54 4 0 -214 542 -64 1 -3 6 -6"

def high_and_low(numbers):
    numbers_list = [int(n) for n in numbers.split()]    
    lowest_number = str(min(numbers_list))
    highest_number = str(max(numbers_list))    
    return highest_number + " " + lowest_number

high_and_low(numbers)

'542 -214'

In [1]:
numbers = "4 5 29 54 4 0 -214 542 -64 1 -3 6 -6"

def high_and_low(numbers):
    numbers_list = [int(n) for n in numbers.split()]    
    lowest_number = str(min(numbers_list))
    highest_number = str(max(numbers_list))    
    return highest_number + " " + lowest_number

result = high_and_low(numbers)
print(result)  # Output: "542 -214"

542 -214

In [ ]:
num_list = [int(str) for str in numbers.split()]    

max_number = str(max(numbers_list))  

min_num = str(min(numbers_list))
  
    return max_num + "" + min_num

Task

Write a function that takes a string input,and returns the first character that is not repeated anywhere in the string. Characters in strings consist of printable characters.

As an added challenge, upper- and lowercase letters are considered the same character, but the function should return the correct case for the initial letter. For example, the input 'sTreSS' should return 'T'.

If a string contains all repeating characters, it should return the empty string ("").
Documentation
first_non_repeating_letter(s)

Parameters

    s: String - a string to be parsed
Return Value

    String - the first character that is not repeated anywhere in the string

Examples
	s 	Return Value
Example #1 	"stress" 	"t"
Example #2 	"STreSS" 	"T"
Example #1 Explanation

In the input "stress", the function should return "t", since the letter t only occurs once in the string, and occurs first in the string.
Tip

You could search for a method that counts the number of ocurrences of a character in a string.

In [8]:
s = "ireugoerjivjfdklj dfkgjfdlkj dfgdfgfd uu u dfg df df fd gdf  gd fg df g fd g fgfd re df s f dsrgf  d df g dd "



def first_non_repeating_letter(s):
    s_lower = s.lower()
    for item in s:
        if s_lower.count(item.lower()) == 1:
            return item

In [5]:
first_non_repeating_letter(s)

'u'